# Copy this file to .env and fill in the values

# Postgres credentials
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=task_tracker_db

# Summarization Postgres credentials
SUMMARIZATION_POSTGRES_USER=your_username
SUMMARIZATION_POSTGRES_PASSWORD=your_password
SUMMARIZATION_POSTGRES_DB=summarization_db

# RabbitMQ credentials
RABBITMQ_DEFAULT_USER=your_username
RABBITMQ_DEFAULT_PASS=your_password

# Redis password
REDIS_PASSWORD=your_password

# Kafka cluster
CLUSTER_ID=4L6g3nShT-eMCtK--X86sw
